
*.db
*.ipch
*.obj
*.obj
*.exe
*.ilk
*.log
*.pdb
*.tlog
*.obj
*.obj
*.idb
*.opendb
Debug/Dk4-Lab4-Q1.log
Debug/Dk4-Lab4-Q1.ilk
Debug/Dk4-Lab4-Q1.log
Debug/Dk4-Lab4-Q1.pdb
Debug/Dk4-Lab4-Q1.tlog/link.read.1.tlog
Debug/Dk4-Lab4-Q1.tlog/link.write.1.tlog
Debug/main.obj
Debug/output.obj
Debug/packet_arrival.obj
Debug/packet_duration.obj
Debug/packet_transmission.obj
Debug/vc141.idb
